<div class="p-2">
    <table class="table table-sm">
        <tr><th>Question</th><td>{{question?.text || 'Loading Data...'}}</td></tr>
        <tr><th>Correct Answer</th><td>{{question?.correctAnswer || 'Loading Data...'}}</td></tr>
        <tr><th>Wrong Answer 1</th><td>{{question?.wrongAnswer1 || 'Loading Data...'}}</td></tr>
        <tr><th>Wrong Answer 2</th><td>{{question?.wrongAnswer2 || 'Loading Data...'}}</td></tr>
        <tr><th>Wrong Answer 3</th><td>{{question?.wrongAnswer3 || 'Loading Data...'}}</td></tr>
    </table>
    </div>
<router-outlet></router-outlet>
